body {
    background-image: linear-gradient(to right, #c4ddfe, #fed8f7);
}

.main-head {
    text-align: center;
    margin: 3rem;
    padding: .7rem;
    background-image: linear-gradient(to bottom right, #4cd9fe, #6da1fc);
    text-transform: uppercase;
}

article {
    /* min-width: 97%;
    min-height: 90vh; */
    font-size: 1.7rem;
    margin: 3rem;
}

/* staff list  */
.staff-grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.staff-grid {
    margin: 2rem;
    border: .2rem solid rgb(16, 26, 232);
    padding: 2rem 1.3rem;
    transition: scale 3s ease;
    cursor: pointer;
}

.staff-grid h2,
.staff-grid h3 {
    text-transform: capitalize;
}

.staff-grid h5 {
    text-transform: uppercase;
}

.staff-grid h4 {
    text-transform: uppercase;
}

.staff-grid:hover {
    transform: scale(1.3);
}

/* @media (max-width: 450px) {} */

/* achievements css  */
.achievements-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 2rem;
    margin: 2rem;
    text-align: center;
}

.achievements {
    padding: 2rem;
    border: .2rem solid #6da1fc;
}

.achievements img {
    width: 90%;
    height: 39vh;
    border: .2rem solid rgb(134, 134, 163);
    box-shadow: .7rem .7rem 1.7rem #6da1fc;
}

.achievements .card-body {
    margin-top: .9rem;
}

.achievements .card-title,
.card-body {
    text-transform: capitalize;
}

/* holidays css  */
.holiday-table,
.vacation-table {
    width: 70%;
    text-transform: capitalize;
    text-align: center;
    margin: 0 15%;
}

.holiday-table th,
.holiday-table td,
.vacation-table th,
.vacation-table td {
    border: .2rem solid #6da1fc;
    padding: .3rem 0;
}

.holiday-table th,
.vacation-table th {
    font-size: 1.7rem;
}

.holiday-table td,
.vacation-table td {
    font-size: 1.3rem;
}

.vacation-heading {
    text-align: center;
    margin-top: 3rem;
    text-transform: capitalize;
}

.holidays-instruction {
    margin: 3rem;
}

.holidays-instruction h5 {
    text-align: center;
    text-transform: capitalize;
}

/* activity css  */
.activity-grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    text-align: center;
}

.activity-btn {
    text-transform: capitalize;
    font-size: 1.7rem;
    color: white;
    padding: .3rem .7rem;
    background-color: #6da1fc;
    margin-bottom: 3rem;
}

.activity-btn:hover {
    background-color: #c4ddfe;
    color: black;
}

.circular-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 3rem;
    text-align: left;
    margin: 2rem;
}

.circular {
    border: .2rem solid #6da1fc;
}

.circular h2 {
    margin-top: 2rem;
    text-align: center;
}

.circular article {
    font-size: 1.3rem;
}

.result-section {
    display: grid;
    grid-template-columns: auto auto;
    margin-left: 7rem;
}

.result-img {
    width: 90%;
    height: 77vh;
    margin-bottom: 3rem;
}


/* students corner section  */
.students-corner-grid {
    display: grid;
    grid-template-columns: auto auto;
    gap: 3%;
    margin: 7rem;
    align-items: center;
    justify-content: center;
    padding: 2%;
}

.hm-innovators,
.health {
    text-align: center;
    border: .2rem solid #6da1fc;
    padding: 3rem;
}


.innovators-img,
.health img {
    width: 50%;
    height: 100%;
    text-align: center;
}

.hm-innovators .fa-lightbulb,
.health .fa-notes-medical {
    padding: .3rem;
    color: #6da1fc;
    font-size: 8rem;
}

.hm-innovators h1,
.health h1 {
    font-size: 3rem;
    padding: .3rem;
    background: -webkit-linear-gradient(0deg, #091860 0%, #48abe0 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}

.hm-innovators p,
.health p {
    color: #091860;
    padding: .7rem;
    font-size: 1.3rem;

}

.hm-innovators .read-btn,
.health .read-btn {
    text-decoration: none;
    font-size: 1.3rem;
}

.innovators{
    text-align: center;
    /* font-size: 1.3rem; */
}
.activity h3{
    padding-left: 3rem;
    padding-top: 3rem;
}
.activity img {
    width: 50%;
    height: 60vh;
    text-align: center;
    margin-left: 25%;
    padding-bottom: 2rem;
}
/* .activity-img-grid{
  display: grid;
  grid-template-columns: auto auto
}
.activity-img-grid img{
    width: 80%;
    height: 60vh;
    text-align-: center;
    margin-left: 25%;
} */

.button-grid{
    text-align: center;
}
.health-activity-btn{
    text-transform: capitalize;
    font-size: 1.7rem;
    background-image: linear-gradient(to right, #091860, #0babff);
   
    padding: .3rem .7rem;
    /* background-color: #6da1fc; */
    margin-bottom: 3rem;
}
.health-activity-btn a{
    text-decoration: none;
    color: white;
}

.health-activity-btn:hover {
    background-color: #c4ddfe;
    color: black;
    transform: scale(1.3);
}