@media (max-width: 900px) {
    html {
        font-size: 70%;
        overflow-x: hidden;
    }


    body {
        overflow-x: hidden;
    }

    .main-head-grid {
        grid-template-columns: auto;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .logo {
        width: 20%;
        height: 23vh;
    }

    .popup-slide img {
        height: 90vh;
        width: 80%;
        top: 7%;
        bottom: 7%;
        left: 11%;
    }

    .main-headings {
        margin: 1.3rem 0;
    }

    .main-headings h1 {
        font-size: 3.3rem;
    }

    .affilation h3 {
        font-size: 1.7rem;
    }

    .navbar-section {
        display: none;
    }

    /* navigation bar for small screen  */
    .navbar-section {
        display: none;
    }

    .menu {
        position: absolute;
        top: 56%;
        left: 35%;
        transform: translate(-50%, -50%);
    }

    .nav-container {
        display: block;
    }

    .nav-container .sidebar .menu .nav-item .nav-link {
        font-size: 2rem;
    }

    .dropdown-menu .dropdown-item a {

        text-transform: capitalize;
        font-size: 1.7rem;
    }

    .carousel-item img {
        width: 100%;
        height: 93vh;
    }

    .welcome-section {
        margin-top: 2rem;
        margin-bottom: 5rem;
    }

    .welcome-heading,
    .achievement-heading h1,
    .gallery h1 {
        font-size: 2.6rem;
    }

    .welcome-school p {
        font-size: 1.3rem;
    }

    .management-grid {
        grid-template-columns: auto;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 0 7rem;
    }

    .management h1 {
        padding-top: 3.7rem;
        font-size: 2.9rem;
    }

    .management-image img {
        width: 100%;
        height: 60vh;
        padding: 3rem 13rem 0 11rem;
    }

    .management-details {
        padding: 5rem 5rem 0 2rem;
    }

    .read-btn {
        width: 40%;
    }

    .read-btn a {
        font-size: 1rem;
    }

    /* .achievement-grid {
            grid-template-columns: auto;
            margin: 0 47rem 0;
        } */

    .curriculam-grid {
        grid-template-columns: auto auto;
        text-align: center;
        justify-content: center;
        align-items: center;
        margin: 3rem 4.5rem;
    }

    .curriculam-grid .card {
        align-items: center;
    }

    .read-btn-2 {
        width: 60%;
    }

    .arrow {
        font-size: .9rem;
    }

    .achievement-section {
        margin-top: 10%;
    }

    .achievement-grid {
        grid-template-columns: auto;
        margin-left: 41rem;
    }

    .achievements-2 {
        visibility: visible;
        margin-top: -37rem;
    }

    .card img {
        width: 20rem;
        height: 13rem;
    }

    .students-grid {
        grid-template-columns: auto;
        align-items: center;
        width: 10%;
        visibility: hidden;
    }

    .kids-section {
        margin-top: 0;
    }

    .kids-container {
        padding: 7rem 0rem;
    }

    .kids-list-container {
        grid-template-columns: auto auto auto auto;
        margin-left: -3rem;
        gap: 7rem;
    }

    .quotes-heading h1 {
        font-size: 2.7rem;
    }

    .footer-grid {
        grid-template-columns: auto auto;
    }

    .download-image {
        height: 17rem;
    }

    .download {
        width: 60%;
    }

    .staff-grid-container {
        display: grid;
        grid-template-columns: auto auto auto;
    }

    .achievements-grid {
        display: grid;
        grid-template-columns: auto;
        gap: 2rem;
        margin: 2rem;
        text-align: center;
    }

    .gallery-grid {
        display: grid;
        grid-template-columns: auto auto auto;
    }

    .gallery-images img {
        width: 90%;
        height: 39vh;
        border: .2rem solid #091860;
        margin: 2rem;
    }

    .activity-grid {
        display: grid;
        grid-template-columns: auto;
    }

    .circular-news-grid {
        grid-template-columns: auto auto;
    }

    .circular-grid {
        grid-template-columns: auto;

    }

    .result-section {
        grid-template-columns: auto;
        margin-left: 5rem;
    }

    .result-img {
        width: 90%;
        height: 57vh;
        margin-bottom: 3rem;
    }

    .close-button {
        top: 7%;
        right: 8%;
    }


}


@media (max-width: 660px) {

    html {
        font-size: 60.5%;
        overflow-x: hidden;

    }

    body {
        overflow-x: hidden;
    }

    .main-head-grid {
        grid-template-columns: auto;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .logo {
        width: 30%;
        height: 23vh;
    }

    .popup-slide img {
        height: 60vh;
        width: 90%;
        top: 7%;
        bottom: 7%;
        left: 5%;
    }

    .main-headings {
        margin: 1.3rem 0;
    }

    .main-headings h1 {
        font-size: 2.7rem;
    }

    .affilation h3 {
        font-size: 1.3rem;
    }

    .navbar-section {
        display: none;
    }

    /* navigation bar for small screen  */
    .navbar-section {
        display: none;
    }

    .menu {
        position: absolute;
        top: 33%;
        left: 45%;
        transform: translate(-50%, -50%);
    }

    .nav-container {
        display: block;
    }

    .dropdown-menu .dropdown-item a {
        text-transform: capitalize;
        font-size: 1.7rem;
    }

    .carousel-item img {
        width: 100%;
        height: 73vh;
    }

    .welcome-section {
        margin-top: 2rem;
        margin-bottom: 3rem;
        padding-bottom: 3rem;
    }

    .welcome-heading,
    .achievement-heading h1,
    .gallery h1 {
        font-size: 2.7rem;
    }

    .welcome-school p {
        font-size: 1.3rem;
    }

    .management-section {
        margin-top: 7rem;

    }

    .management-grid {
        grid-template-columns: auto;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 2rem 11%;
    }

    .management h1 {
        font-size: 2.9rem;
    }

    .management-image img {
        width: 100%;
        height: 40vh;
        padding: 3rem 6rem 0 0;
    }

    .management-details {
        padding: 5% 5% 0 2rem;
    }

    .read-btn {
        width: 40%;
    }

    .read-btn a {
        font-size: 1rem;
    }

    /* .achievement-grid {
        grid-template-columns: auto;
        margin: 0 47rem 0;
    } */

    .curriculam-grid {
        grid-template-columns: auto;
        text-align: center;
        justify-content: center;
        align-items: center;
        margin: 3rem 5rem;
    }

    .curriculam-grid .card {
        align-items: center;
    }

    .read-btn-2 {
        width: 60%;
    }

    .arrow {
        font-size: .9rem;
    }

    .achievement-section {
        margin-top: 10%;
    }

    .achievement-grid {
        grid-template-columns: auto;
        margin-left: 41rem;
    }

    .achievements-2 {
        visibility: visible;
        margin-top: -37rem;
    }

    .card img {
        width: 20rem;
        height: 13rem;
    }

    .students-grid {
        grid-template-columns: auto;
        align-items: center;
        width: 10%;
        visibility: hidden;
    }

    .kids-section {
        margin-top: 0;
    }

    .kids-container {
        padding: 7rem 0rem;
    }

    .kids-list-container {
        grid-template-columns: auto auto auto;
        margin-left: -3rem;
        gap: 7rem;
    }

    .quotes-heading h1 {
        font-size: 2.7rem;
    }

    .footer-grid {
        grid-template-columns: auto;
    }

    .download-image {
        height: 17rem;
    }

    .download {
        width: 60%;
    }

    .staff-grid-container {
        display: grid;
        grid-template-columns: auto auto auto;
    }

    .achievements-grid {
        display: grid;
        grid-template-columns: auto;
        gap: 2rem;
        margin: 2rem;
        text-align: center;
    }

    .gallery-grid {
        display: grid;
        grid-template-columns: auto auto;
    }

    .gallery-images img {
        width: 90%;
        height: 17vh;
        border: .2rem solid #091860;
        margin: 2rem;
    }

    .activity-grid {
        display: grid;
        grid-template-columns: auto;
    }

    .circular-news-grid {
        grid-template-columns: auto;
    }

    .circular-grid {
        grid-template-columns: auto;

    }

    .result-section {
        grid-template-columns: auto;
        margin-left: 5rem;
    }

    .result-img {
        width: 90%;
        height: 57vh;
        margin-bottom: 3rem;
    }

    .close-button {
        top: 7%;
        right: 6%;
    }
}

@media (max-width: 450px) {

    html {
        font-size: 50.5%;
        overflow-x: hidden;

    }

    body {
        overflow-x: hidden;
    }

    .main-head-grid {
        grid-template-columns: auto;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .logo {
        width: 37%;
        height: 17vh;
    }

    .popup-slide img {
        height: 60vh;
        width: 90%;
        top: 7%;
        bottom: 7%;
        left: 5%;
    }

    .main-headings {
        margin: 1.3rem 0;
    }

    .main-headings h1 {
        font-size: 2.7rem;
    }

    .affilation h3 {
        font-size: 1.3rem;
    }

    .navbar-section {
        display: none;
    }

    /* navigation bar for small screen  */
    .navbar-section {
        display: none;
    }

    .menu {
        position: absolute;
        top: 33%;
        left: 45%;
        transform: translate(-50%, -50%);
    }

    .nav-container {
        display: block;
    }

    .dropdown-menu .dropdown-item a {
        text-transform: capitalize;
        font-size: 1.7rem;
    }

    .carousel-item img {
        width: 100%;
        height: 43vh;
    }

    .welcome-section {
        margin-top: 2rem;
        margin-bottom: 3rem;
        padding-bottom: 3rem;
    }

    .welcome-heading,
    .achievement-heading h1,
    .gallery h1 {
        font-size: 2.7rem;
    }

    .welcome-school p {
        font-size: 1.3rem;
        padding: 1.1rem;
    }

    .management-section {
        margin-top: 3%;

    }

    .management-grid {
        grid-template-columns: auto;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 2rem 11%;
    }



    .management-image img {
        width: 100%;
        height: 40vh;
        padding: 5% 6rem 0 0;
    }

    .management-details {
        padding: 5rem 5rem 0 2rem;
    }

    .read-btn {
        width: 40%;
    }

    .read-btn a {
        font-size: 1rem;
    }

    /* .achievement-grid {
        grid-template-columns: auto;
        margin: 0 47rem 0;
    } */

    .curriculam-grid {
        grid-template-columns: auto;
        text-align: center;
        justify-content: center;
        align-items: center;
        margin: 3rem 5rem;
    }

    .curriculam-grid .card {
        align-items: center;
    }

    .read-btn-2 {
        width: 60%;
    }

    .arrow {
        font-size: .9rem;
    }

    .achievement-section {
        margin-top: 10%;
    }

    .achievement-grid {
        grid-template-columns: auto;
        /* margin-left: 41rem; */
    }

    .achievements-2 {
        visibility: visible;
        margin-top: -37rem;
    }

    .card img {
        width: 20rem;
        height: 13rem;
    }

    .students-grid {
        grid-template-columns: auto;
        align-items: center;
        width: 10%;
        visibility: hidden;
    }

    .kids-section {
        margin-top: 0;
    }

    .kids-container {
        padding: 7rem 0rem;
    }

    .kids-list-container {
        grid-template-columns: auto auto;
        margin-left: -3rem;
        gap: 7rem;
    }

    .quotes-heading h1 {
        font-size: 2.7rem;
    }

    .footer-grid {
        grid-template-columns: auto;
    }

    .download-image {
        height: 17rem;
    }

    .download {
        width: 60%;
    }

    .staff-grid-container {
        display: grid;
        grid-template-columns: auto auto;
    }

    .achievements-grid {
        display: grid;
        grid-template-columns: auto;


        text-align: center;
    }

    .gallery-grid {
        display: grid;
        grid-template-columns: auto auto;
        gap: 1.3rem;
        margin-right: 7%;
    }

    .gallery-images img {
        width: 90%;
        height: 23vh;
        border: .2rem solid #091860;
    }

    .activity-grid {
        display: grid;
        grid-template-columns: auto;
    }

    .circular-news-grid {
        grid-template-columns: auto;
    }

    .circular-grid {
        grid-template-columns: auto;

    }

    .result-section {
        grid-template-columns: auto;
        margin-left: 5rem;
    }

    .result-img {
        width: 90%;
        height: 57vh;
        margin-bottom: 3rem;
    }

    .close-button {
        top: 7%;
        right: 6%;
    }

    /* students corner section  */
    .students-corner-grid {
        display: grid;
        grid-template-columns: auto;
        gap: 3%;
        margin: 7rem;
        align-items: center;
        justify-content: center;
        padding: 2%;
    }
    .innovators-img,
    .health img {
        width: 100%;
        height: 100%;
        text-align: center;
    }
    .activity img {
        width: 100%;
        height: 100%;
        text-align: center;
        margin-left: 25%;
        padding-bottom: 2rem;
    }
}